body {
    background-image: 
    url("https://cdn.pixabay.com/photo/2018/08/29/17/20/background-image-3640359__340.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
h1 {
    color: #f7efef;
}